# 01. Car Scrapper

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re
import matplotlib.pyplot as plt

from time import sleep
from random import randint

In [2]:
# The website from where we are going to obtain the data
main_url = "https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=1&cy=E&atype=C&recommended_sorting_based_id=63264e9a-86be-4fce-8e45-42cfcd1def1a&"

In [3]:
# Links for the different categories
small_cars_url = "https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=1&cy=E&body=1&atype=C&recommended_sorting_based_id=63264e9a-86be-4fce-8e45-42cfcd1def1a&"
sedan_cars_url = "https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=1&cy=E&body=6&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&"
familiar_cars_url = "https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=1&cy=E&body=5&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&"
minivan_cars_url = "https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=1&cy=E&body=12&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&"
coupe_cars_url = "https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=1&cy=E&body=3&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&"
cabrio_cars_url = "https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=1&cy=E&body=2&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&"
suv_cars_url = "https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=1&cy=E&body=4&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&"
van_cars_url = "https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=1&cy=E&body=13&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&"
other_cars_url = "https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=1&cy=E&body=7&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&"

In [4]:
#Defining columns for small cars
title = []
version = []
year = []
kms = []
hp = []
gear = []
fuel = []
fuel_cons = []
co2 =[]
prev_owners = []
price = []
location = []

In [5]:
# Analysing urls for the diffenret pages:
# url_pag1 = "https://www.autoscout24.es/lst/?sort=standard&desc=0&ustate=N%2CU&size=20&page=1&cy=E&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&"
# url_pag2 = "https://www.autoscout24.es/lst/?sort=standard&desc=0&ustate=N%2CU&size=20&page=2&cy=E&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&"
# url_pag3 = "https://www.autoscout24.es/lst/?sort=standard&desc=0&ustate=N%2CU&size=20&page=3&cy=E&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&"

# Max page per url = 20 (start: page 1, stop: page 21 -1, step: 1 by 1 as the url changes from page=n to page=n+1 from one page to the following

all_pages = np.arange(1,21,1)

In [6]:
#Scapping small cars

for small_cars_page in all_pages:
    
    small_cars_page = requests.get("https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=" + str(small_cars_page) + "&cy=E&body=1&atype=C&recommended_sorting_based_id=63264e9a-86be-4fce-8e45-42cfcd1def1a&")
    small_cars_soup = BeautifulSoup(small_cars_page.text,"lxml")
    small_cars_ads = small_cars_soup.find_all('div', attrs={"class": "cl-list-element cl-list-element-gap"})
    
    sleep(randint(2,10))
    
    for element in small_cars_ads:
        try:
            Title = element.find('h2', attrs={"class":'cldt-summary-makemodel sc-font-bold sc-ellipsis'}).text
        except:
            Title = "NaN"
        title.append(Title)
        
        try:
            Version = element.find('h2', attrs={"class":"cldt-summary-version sc-ellipsis"}).text
        except:
            Version = "NaN"
        version.append(Version)
        try:
            Year = element.find('li', attrs={'data-type':'first-registration'}).text
        except:
            Year = "NaN"
        year.append(Year)
        try:
            Kms = element.find('li', attrs={"data-type" : "mileage"}).text
        except:
            Kms = "NaN"
        kms.append(Kms)

        try:
            Gear = element.find('li', attrs={"data-type":"transmission-type"}).text
        except:
            Gear = "NaN"
        gear.append(Gear)

        try:
            Fuel = element.find('li', attrs={"class":"summary_item_no_bottom_line"}).text
        except:
            Fuel = "NaN"
        fuel.append(Fuel)

        try:
            Fuel_cons = element.find('li', attrs={"data-type":"combined-consumption"}).text
        except:
            Fuel_cons = "NaN"
        fuel_cons.append(Fuel_cons)

        try:
            Co2 = element.find('li', attrs={"data-type":"co2-emission"}).text
        except:
            Co2 = "NaN"
        co2.append(Co2)

        try:
            Prev_owners = element.find('li', attrs={"data-type" : "previous-owners"}).text
        except:
            Prev_owners = "NaN"
        prev_owners.append(Prev_owners)
        try:
            Price = element.find('span', attrs={"class":"cldt-price sc-font-xl sc-font-bold"}).text
        except:
            Price = "NaN"
        price.append(Price)

        try:
            Hp = element.find('li', text =re.compile(r'CV')).text
        except:
            Hp = "NaN"
        hp.append(Hp)
        
        try:
            Location = element.find('span', attrs={"class":"cldf-summary-seller-contact-zip-city"}).text
        except:
            Location = "NaN"
        location.append(Location)

In [7]:
#Creating the Small_Cars_DataFrame
small_cars_df = pd.DataFrame({"Title":title,
                        "Version":version,
                        "Year": year,
                        "Kms": kms,
                        "Hp": hp,
                        "Fuel_type": fuel,
                        "Gear_type": gear,
                        "Fuel_l/100km": fuel_cons,
                        "CO2_g/Km": co2,
                        "Previous_owners": prev_owners,
                        "City_ZIP" : location,
                        "Price_EUR": price,
                        "Category" : "Small",
                        "Doors" : "5"})

In [8]:
small_cars_df

,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors
0,SEAT Cordoba,1.9 TDi Sport 90,\n12/2000\n,\n254.000 km\n,\n66 kW (90 CV)\n,\nDiésel\n,\nManual\n,"\n4,9 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,18195 CULLAR VEGA,"\n€ 980,-\nIVA deducible\n",Small,5
1,Rover 25,1.6 Classic,\n01/2001\n,\n171.720 km\n,\n80 kW (109 CV)\n,\nGasolina\n,\nManual\n,\n6 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,28045 MADRID,"\n€ 1.290,-\n",Small,5
2,Renault Megane,1.6 Century,\n08/2001\n,\n190.000 km\n,\n82 kW (111 CV)\n,\nGasolina\n,\nManual\n,\n7 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,28891 VELILLA DE SAN ANTONIO,"\n€ 1.500,-\n",Small,5
3,Daewoo Lanos,1.6 16v. SX,\n06/2000\n,\n185.000 km\n,\n78 kW (106 CV)\n,\nGasolina\n,\nManual\n,"\n8,2 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,46940 MANISES,"\n€ 1.500,-\n",Small,5
4,Volkswagen Polo,1.4 3 porte Comfortline,\n02/2000\n,\n123.900 km\n,\n44 kW (60 CV)\n,\nGasolina\n,\nManual\n,"\n6,1 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,29750 Algarrobo-Costa,"\n€ 1.990,-\n",Small,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Audi S1,S1 2.0 TFSI quattro,\n12/2015\n,\n121.116 km\n,\n170 kW (231 CV)\n,\nGasolina\n,\nManual\n,\n7 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,03207 ELCHE,"\n€ 23.500,-\n",Small,5
396,Mercedes-Benz A 200,7G-DCT,\n01/2019\n,\n55.000 km\n,\n120 kW (163 CV)\n,\nGasolina\n,\nAutomático\n,\n0 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,8015 Barcelona,"\n€ 23.900,-\n",Small,5
397,Mercedes-Benz 180,A BUSINESS LINE 1.5,\n09/2018\n,\n41.600 km\n,\n85 kW (116 CV)\n,\nDiésel\n,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,36860 PONTEAEREAS,"\n€ 23.990,-\n",Small,5
398,Audi A3,Sportback 35TDI Black line S tronic,\n05/2020\n,\n32.866 km\n,\n110 kW (150 CV)\n,\nDiésel\n,\nAutomático\n,"\n3,8 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28021 MADRID,"\n€ 24.390,-\n",Small,5
399,Honda e,"LLANTAS 17"" ADVANCE",\n12/2020\n,\n6.500 km\n,\n113 kW (154 CV)\n,\nEléctrico\n,\nAutomático\n,\n- (l/100 km)\n,\n0 g/km (mixto)\nPuede obtenerse información ...,\n- (Propietarios)\n,41007 SEVILLA,"\n€ 24.500,-\nIVA deducible\n",Small,5

In [9]:
#Defining columns for sedan cars
title = []
version = []
year = []
kms = []
hp = []
gear = []
fuel = []
fuel_cons = []
co2 =[]
prev_owners = []
price = []
location = []

In [10]:
#Scapping sedan cars

for sedan_cars_page in all_pages:
    
    sedan_cars_page = requests.get("https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=" + str(sedan_cars_page) + "&cy=E&body=6&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&")
    sedan_cars_soup = BeautifulSoup(sedan_cars_page.text,"lxml")
    sedan_cars_ads = sedan_cars_soup.find_all('div', attrs={"class": "cl-list-element cl-list-element-gap"})
    
    sleep(randint(2,10))
    
    for element in sedan_cars_ads:
        try:
            Title = element.find('h2', attrs={"class":'cldt-summary-makemodel sc-font-bold sc-ellipsis'}).text
        except:
            Title = "NaN"
        title.append(Title)
        
        try:
            Version = element.find('h2', attrs={"class":"cldt-summary-version sc-ellipsis"}).text
        except:
            Version = "NaN"
        version.append(Version)
        try:
            Year = element.find('li', attrs={'data-type':'first-registration'}).text
        except:
            Year = "NaN"
        year.append(Year)
        try:
            Kms = element.find('li', attrs={"data-type" : "mileage"}).text
        except:
            Kms = "NaN"
        kms.append(Kms)

        try:
            Gear = element.find('li', attrs={"data-type":"transmission-type"}).text
        except:
            Gear = "NaN"
        gear.append(Gear)

        try:
            Fuel = element.find('li', attrs={"class":"summary_item_no_bottom_line"}).text
        except:
            Fuel = "NaN"
        fuel.append(Fuel)

        try:
            Fuel_cons = element.find('li', attrs={"data-type":"combined-consumption"}).text
        except:
            Fuel_cons = "NaN"
        fuel_cons.append(Fuel_cons)

        try:
            Co2 = element.find('li', attrs={"data-type":"co2-emission"}).text
        except:
            Co2 = "NaN"
        co2.append(Co2)

        try:
            Prev_owners = element.find('li', attrs={"data-type" : "previous-owners"}).text
        except:
            Prev_owners = "NaN"
        prev_owners.append(Prev_owners)
        try:
            Price = element.find('span', attrs={"class":"cldt-price sc-font-xl sc-font-bold"}).text
        except:
            Price = "NaN"
        price.append(Price)

        try:
            Hp = element.find('li', text =re.compile(r'CV')).text
        except:
            Hp = "NaN"
        hp.append(Hp)
        
        try:
            Location = element.find('span', attrs={"class":"cldf-summary-seller-contact-zip-city"}).text
        except:
            Location = "NaN"
        location.append(Location)

In [11]:
#Creating the Sedan_Cars_DataFrame
sedan_cars_df = pd.DataFrame({"Title":title,
                        "Version":version,
                        "Year": year,
                        "Kms": kms,
                        "Hp": hp,
                        "Fuel_type": fuel,
                        "Gear_type": gear,
                        "Fuel_l/100km": fuel_cons,
                        "CO2_g/Km": co2,
                        "Previous_owners": prev_owners,
                        "City_ZIP" : location,
                        "Price_EUR": price,
                        "Category" : "Sedan",
                        "Doors" : "5"})

In [12]:
sedan_cars_df

,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors
0,Audi A6,2.3,\n11/1995\n,\n291.000 km\n,\n98 kW (133 CV)\n,\nGasolina\n,\nManual\n,\n0 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,41003 SEVILLA,"\n€ 1.120,-\n",Sedan,5
1,Peugeot 406,1.9 SRSD,\n06/1998\n,\n150.000 km\n,\n68 kW (92 CV)\n,\nDiésel\n,\nManual\n,"\n6,4 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28021 MADRID,"\n€ 1.200,-\n",Sedan,5
2,Lancia Dedra,1.8 i.e. LE,\n06/1994\n,\n84.000 km\n,\n78 kW (106 CV)\n,\nGasolina\n,\nManual\n,\n0 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,26500 CALAHORRA,"\n€ 1.499,-\n",Sedan,5
3,Audi A4,1.8,\n03/1995\n,\n344.000 km\n,\n92 kW (125 CV)\n,\nGasolina\n,\nManual\n,"\n9,1 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,31600 Burlada,"\n€ 1.500,-\n",Sedan,5
4,Fiat Marea,1.9 TD 100 SX,\n10/1999\n,\n158.994 km\n,\n74 kW (101 CV)\n,\nDiésel\n,\nManual\n,"\n6,2 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,48970 BASAURI,"\n€ 1.500,-\n",Sedan,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,BMW 118,118D 150 STEPTRONIC m sport,\n12/2020\n,\n18.756 km\n,\n110 kW (150 CV)\n,\nDiésel\n,\nAutomático\n,"\n4,1 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28022 Madrid,"\n€ 27.595,-\n",Sedan,5
396,BMW 118,118D 150 STEPTRONIC m sport,\n12/2020\n,\n13.198 km\n,\n110 kW (150 CV)\n,\nDiésel\n,\nAutomático\n,"\n4,1 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,03320 Alicante,"\n€ 27.595,-\n",Sedan,5
397,Lexus GS 300,300h Executive,\n12/2016\n,\n65.600 km\n,\n164 kW (223 CV)\n,\nElectro/Gasolina\n,\nAutomático\n,"\n4,8 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28050 MADRID,"\n€ 27.795,-\n",Sedan,5
398,MINI Clubvan,MINI Cooper SE 135 kW (184 CV),\n06/2021\n,\n3.200 km\n,\n135 kW (184 CV)\n,\nEléctrico\n,\nAutomático\n,\n- (l/100 km)\n,\n0 g/km (mixto)\nPuede obtenerse información ...,\n- (Propietarios)\n,09007 BURGOS,"\n€ 27.900,-\n",Sedan,5
399,Mercedes-Benz E 220,E 220d 9G-Tronic 194,\n09/2016\n,\n90.839 km\n,\n143 kW (194 CV)\n,\nDiésel\n,\nAutomático\n,"\n3,9 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,23400 UBEDA,"\n€ 27.900,-\n",Sedan,5

In [13]:
#Defining columns for familiar cars
title = []
version = []
year = []
kms = []
hp = []
gear = []
fuel = []
fuel_cons = []
co2 =[]
prev_owners = []
price = []
location = []

In [14]:
#Scapping familiar cars

for familiar_cars_page in all_pages:
    
    familiar_cars_page = requests.get("https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=" + str(familiar_cars_page) + "&cy=E&body=5&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&")
    familiar_cars_soup = BeautifulSoup(familiar_cars_page.text,"lxml")
    familiar_cars_ads = familiar_cars_soup.find_all('div', attrs={"class": "cl-list-element cl-list-element-gap"})
    
    sleep(randint(2,10))
    
    for element in familiar_cars_ads:
        try:
            Title = element.find('h2', attrs={"class":'cldt-summary-makemodel sc-font-bold sc-ellipsis'}).text
        except:
            Title = "NaN"
        title.append(Title)
        
        try:
            Version = element.find('h2', attrs={"class":"cldt-summary-version sc-ellipsis"}).text
        except:
            Version = "NaN"
        version.append(Version)
        try:
            Year = element.find('li', attrs={'data-type':'first-registration'}).text
        except:
            Year = "NaN"
        year.append(Year)
        try:
            Kms = element.find('li', attrs={"data-type" : "mileage"}).text
        except:
            Kms = "NaN"
        kms.append(Kms)

        try:
            Gear = element.find('li', attrs={"data-type":"transmission-type"}).text
        except:
            Gear = "NaN"
        gear.append(Gear)

        try:
            Fuel = element.find('li', attrs={"class":"summary_item_no_bottom_line"}).text
        except:
            Fuel = "NaN"
        fuel.append(Fuel)

        try:
            Fuel_cons = element.find('li', attrs={"data-type":"combined-consumption"}).text
        except:
            Fuel_cons = "NaN"
        fuel_cons.append(Fuel_cons)

        try:
            Co2 = element.find('li', attrs={"data-type":"co2-emission"}).text
        except:
            Co2 = "NaN"
        co2.append(Co2)

        try:
            Prev_owners = element.find('li', attrs={"data-type" : "previous-owners"}).text
        except:
            Prev_owners = "NaN"
        prev_owners.append(Prev_owners)
        try:
            Price = element.find('span', attrs={"class":"cldt-price sc-font-xl sc-font-bold"}).text
        except:
            Price = "NaN"
        price.append(Price)

        try:
            Hp = element.find('li', text =re.compile(r'CV')).text
        except:
            Hp = "NaN"
        hp.append(Hp)
        
        try:
            Location = element.find('span', attrs={"class":"cldf-summary-seller-contact-zip-city"}).text
        except:
            Location = "NaN"
        location.append(Location)

In [15]:
#Creating the Familiar_Cars_DataFrame
familiar_cars_df = pd.DataFrame({"Title":title,
                        "Version":version,
                        "Year": year,
                        "Kms": kms,
                        "Hp": hp,
                        "Fuel_type": fuel,
                        "Gear_type": gear,
                        "Fuel_l/100km": fuel_cons,
                        "CO2_g/Km": co2,
                        "Previous_owners": prev_owners,
                        "City_ZIP" : location,
                        "Price_EUR": price,
                        "Category" : "Wagon",
                        "Doors" : "5"})

In [16]:
familiar_cars_df

,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors
0,Volvo 850,Estate 2.0 10v,\n06/1995\n,\n128.000 km\n,\n93 kW (126 CV)\n,\nGasolina\n,\nManual\n,\n0 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,03580 ALFAZ DEL PI,"\n€ 2.490,-\n",Wagon,5
1,Opel Astra,SW 1.7CDTi Enjoy 6vel.,\n03/2007\n,\n197.300 km\n,\n73 kW (99 CV)\n,\nDiésel\n,\nManual\n,\n5 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,48960 GALDAKAO,"\n€ 2.490,-\n",Wagon,5
2,Fiat Croma,1.9Mjt 8v Strip,\n06/2007\n,\n250.000 km\n,\n88 kW (120 CV)\n,\nDiésel\n,\nAutomático\n,"\n6,1 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28891 VELILLA DE SAN ANTONIO,"\n€ 2.900,-\n",Wagon,5
3,BMW Active Hybrid 3,E46 COMPACT,\n10/2003\n,\n381.883 km\n,\n110 kW (150 CV)\n,\nDiésel\n,\nManual\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,30161 Llano de Brujas,"\n€ 2.900,-\n",Wagon,5
4,BMW 320,d Touring,\n10/2006\n,\n524.290 km\n,\n120 kW (163 CV)\n,\nDiésel\n,\nManual\n,"\n5,9 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,03006 ALICANTE,"\n€ 3.600,-\n",Wagon,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Mazda 6,6 Wagon 2.2 Skyactiv-D Zenith 110kW,\n01/2020\n,\n16.490 km\n,\n110 kW (150 CV)\n,\nDiésel\n,\nManual\n,"\n4,5 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,18015 GRANADA,"\n€ 23.490,-\n",Wagon,5
396,Mercedes-Benz CLA 220,d Shooting Brake 7G-DCT,\n10/2016\n,\n63.665 km\n,\n130 kW (177 CV)\n,\nDiésel\n,\nAutomático\n,"\n4,2 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28022 madrid,"\n€ 23.500,-\n",Wagon,5
397,Peugeot 508,SW 1.5 BlueHDi S&S Allure EAT8 130,\n09/2019\n,\n50.775 km\n,\n96 kW (131 CV)\n,\nDiésel\n,\nAutomático\n,"\n3,6 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,46006 VALENCIA,"\n€ 23.800,-\n",Wagon,5
398,Audi A6,Avant 2.0TDI S line edition 140kW,\n09/2016\n,\n78.400 km\n,\n140 kW (190 CV)\n,\nDiésel\n,\nManual\n,"\n4,6 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28939 ARROYOMOLINOS,"\n€ 24.400,-\n",Wagon,5
399,Mercedes-Benz CLA 200,d Shooting Brake 4Matic 7G-DCT,\n11/2017\n,\n49.800 km\n,\n100 kW (136 CV)\n,\nDiésel\n,\nAutomático\n,"\n4,8 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28660 BOADILLA DEL MONTE,"\n€ 24.490,-\n",Wagon,5

In [17]:
#Defining columns for minivan cars
title = []
version = []
year = []
kms = []
hp = []
gear = []
fuel = []
fuel_cons = []
co2 =[]
prev_owners = []
price = []
location = []

In [18]:
#Scapping minivans cars

for minivan_cars_page in all_pages:
    
    minivan_cars_page = requests.get("https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=" + str(minivan_cars_page) + "&cy=E&body=12&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&")
    minivan_cars_soup = BeautifulSoup(minivan_cars_page.text,"lxml")
    minivan_cars_ads = minivan_cars_soup.find_all('div', attrs={"class": "cl-list-element cl-list-element-gap"})
    
    sleep(randint(2,10))
    
    for element in minivan_cars_ads:
        
        try:
            Title = element.find('h2', attrs={"class":'cldt-summary-makemodel sc-font-bold sc-ellipsis'}).text
        except:
            Title = "NaN"
        title.append(Title)
        
        try:
            Version = element.find('h2', attrs={"class":"cldt-summary-version sc-ellipsis"}).text
        except:
            Version = "NaN"
        version.append(Version)
        try:
            Year = element.find('li', attrs={'data-type':'first-registration'}).text
        except:
            Year = "NaN"
        year.append(Year)
        try:
            Kms = element.find('li', attrs={"data-type" : "mileage"}).text
        except:
            Kms = "NaN"
        kms.append(Kms)

        try:
            Gear = element.find('li', attrs={"data-type":"transmission-type"}).text
        except:
            Gear = "NaN"
        gear.append(Gear)

        try:
            Fuel = element.find('li', attrs={"class":"summary_item_no_bottom_line"}).text
        except:
            Fuel = "NaN"
        fuel.append(Fuel)

        try:
            Fuel_cons = element.find('li', attrs={"data-type":"combined-consumption"}).text
        except:
            Fuel_cons = "NaN"
        fuel_cons.append(Fuel_cons)

        try:
            Co2 = element.find('li', attrs={"data-type":"co2-emission"}).text
        except:
            Co2 = "NaN"
        co2.append(Co2)

        try:
            Prev_owners = element.find('li', attrs={"data-type" : "previous-owners"}).text
        except:
            Prev_owners = "NaN"
        prev_owners.append(Prev_owners)
        try:
            Price = element.find('span', attrs={"class":"cldt-price sc-font-xl sc-font-bold"}).text
        except:
            Price = "NaN"
        price.append(Price)

        try:
            Hp = element.find('li', text =re.compile(r'CV')).text
        except:
            Hp = "NaN"
        hp.append(Hp)
        
        try:
            Location = element.find('span', attrs={"class":"cldf-summary-seller-contact-zip-city"}).text
        except:
            Location = "NaN"
        location.append(Location)

In [19]:
#Creating the Minivan_Cars_DataFrame
minivan_cars_df = pd.DataFrame({"Title":title,
                        "Version":version,
                        "Year": year,
                        "Kms": kms,
                        "Hp": hp,
                        "Fuel_type": fuel,
                        "Gear_type": gear,
                        "Fuel_l/100km": fuel_cons,
                        "CO2_g/Km": co2,
                        "Previous_owners": prev_owners,
                        "City_ZIP" : location,
                        "Price_EUR": price,
                        "Category" : "Minivan",
                        "Doors" : "5"})

In [20]:
minivan_cars_df

,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors
0,Renault Espace,2.2 dCi Expression,\n07/2004\n,\n267.000 km\n,\n110 kW (150 CV)\n,\nDiésel\n,\nManual\n,"\n7,7 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,29004 MALAGA,"\n€ 3.250,-\n",Minivan,5
1,SEAT Altea XL,XL 1.9TDI Reference,\n01/2010\n,\n233.209 km\n,\n77 kW (105 CV)\n,\nDiésel\n,\nManual\n,"\n5,4 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,46930 QUART DE POBLET,"\n€ 3.400,-\n",Minivan,5
2,Mercedes-Benz B 200,CDI Autotronic,\n07/2007\n,\n280.000 km\n,\n102 kW (139 CV)\n,\nDiésel\n,\nAutomático\n,"\n5,6 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,48940 LEIOA,"\n€ 3.690,-\n",Minivan,5
3,Citroen C4,Grand Picasso 1.6HDI Exclusive CMP,\n01/2009\n,\n252.739 km\n,\n80 kW (109 CV)\n,\nDiésel\n,\nAutomático\n,"\n5,4 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,08310 ARGENTONA,"\n€ 3.700,-\n",Minivan,5
4,SEAT Altea XL,XL I-Tech Ecomotive,\n09/2014\n,\n283.115 km\n,\n76 kW (103 CV)\n,\nDiésel\n,\nManual\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,08280 CALAF,"\n€ 3.900,-\n",Minivan,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Hyundai Matrix,1.6 GLS,\n03/2006\n,\n202.000 km\n,\n76 kW (103 CV)\n,\nGasolina\n,\nManual\n,"\n7,3 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28816 Camarma de Esteruelas,"\n€ 1.950,-\n",Minivan,5
396,Ford Focus C-Max,1.6TDci Ghia 109,\n05/2005\n,\n200.800 km\n,\n80 kW (109 CV)\n,\nDiésel\n,\nManual\n,"\n4,9 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,NaN,"\n€ 1.950,-\n",Minivan,5
397,Chrysler Voyager,2.5CRD LX,\n05/2005\n,\n240.000 km\n,\n105 kW (143 CV)\n,\nDiésel\n,\nManual\n,"\n7,8 l/100 km (mixto)\nPuede obtenerse inform...",\n203 g/km (mixto)\nPuede obtenerse informació...,\n- (Propietarios)\n,NaN,"\n€ 1.950,-\n",Minivan,5
398,Renault Megane,1.9dCi Century,\n06/2003\n,\n255.000 km\n,\n77 kW (105 CV)\n,\nDiésel\n,\nManual\n,"\n6,4 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,46940 MANISES,"\n€ 1.950,-\n",Minivan,5
399,Renault Megane,1.9dCi Century,\n06/2003\n,\n255.000 km\n,\n77 kW (105 CV)\n,\nDiésel\n,\nManual\n,"\n6,4 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,46940 MANISES,"\n€ 1.950,-\n",Minivan,5

In [21]:
#Defining columns for coupe cars
title = []
version = []
year = []
kms = []
hp = []
gear = []
fuel = []
fuel_cons = []
co2 =[]
prev_owners = []
price = []
location = []

In [22]:
#Scapping coupe cars

for coupe_cars_page in all_pages:
    
    coupe_cars_page = requests.get("https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=" + str(coupe_cars_page) + "&cy=E&body=3&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&")
    coupe_cars_soup = BeautifulSoup(coupe_cars_page.text,"lxml")
    coupe_cars_ads = coupe_cars_soup.find_all('div', attrs={"class": "cl-list-element cl-list-element-gap"})
    
    sleep(randint(2,10))
    
    for element in coupe_cars_ads:
        try:
            Title = element.find('h2', attrs={"class":'cldt-summary-makemodel sc-font-bold sc-ellipsis'}).text
        except:
            Title = "NaN"
        title.append(Title)
        
        try:
            Version = element.find('h2', attrs={"class":"cldt-summary-version sc-ellipsis"}).text
        except:
            Version = "NaN"
        version.append(Version)
        try:
            Year = element.find('li', attrs={'data-type':'first-registration'}).text
        except:
            Year = "NaN"
        year.append(Year)
        try:
            Kms = element.find('li', attrs={"data-type" : "mileage"}).text
        except:
            Kms = "NaN"
        kms.append(Kms)

        try:
            Gear = element.find('li', attrs={"data-type":"transmission-type"}).text
        except:
            Gear = "NaN"
        gear.append(Gear)

        try:
            Fuel = element.find('li', attrs={"class":"summary_item_no_bottom_line"}).text
        except:
            Fuel = "NaN"
        fuel.append(Fuel)

        try:
            Fuel_cons = element.find('li', attrs={"data-type":"combined-consumption"}).text
        except:
            Fuel_cons = "NaN"
        fuel_cons.append(Fuel_cons)

        try:
            Co2 = element.find('li', attrs={"data-type":"co2-emission"}).text
        except:
            Co2 = "NaN"
        co2.append(Co2)

        try:
            Prev_owners = element.find('li', attrs={"data-type" : "previous-owners"}).text
        except:
            Prev_owners = "NaN"
        prev_owners.append(Prev_owners)
        try:
            Price = element.find('span', attrs={"class":"cldt-price sc-font-xl sc-font-bold"}).text
        except:
            Price = "NaN"
        price.append(Price)

        try:
            Hp = element.find('li', text =re.compile(r'CV')).text
        except:
            Hp = "NaN"
        hp.append(Hp)
        
        try:
            Location = element.find('span', attrs={"class":"cldf-summary-seller-contact-zip-city"}).text
        except:
            Location = "NaN"
        location.append(Location)

In [23]:
#Creating the Coupe_Cars_DataFrame
coupe_cars_df = pd.DataFrame({"Title":title,
                        "Version":version,
                        "Year": year,
                        "Kms": kms,
                        "Hp": hp,
                        "Fuel_type": fuel,
                        "Gear_type": gear,
                        "Fuel_l/100km": fuel_cons,
                        "CO2_g/Km": co2,
                        "Previous_owners": prev_owners,
                        "City_ZIP" : location,
                        "Price_EUR": price,
                        "Category" : "Coupe",
                        "Doors" : "3"})

In [24]:
coupe_cars_df

,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors
0,Mercedes-Benz C 200,Sportcoupé K,\n09/2003\n,\n267.000 km\n,\n120 kW (163 CV)\n,\nGasolina\n,\nAutomático\n,"\n9,7 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,8304 MATARO,"\n€ 2.950,-\n",Coupe,3
1,Mercedes-Benz C 200,C 200 Sportcoupé K,\n01/2002\n,\n203.000 km\n,\n120 kW (163 CV)\n,\nGasolina\n,\nManual\n,"\n9,7 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,29004 MALAGA,"\n€ 2.950,-\n",Coupe,3
2,BMW 320,Ci,\n06/2002\n,\n186.600 km\n,\n125 kW (170 CV)\n,\nGasolina\n,\nManual\n,"\n8,9 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,46980 PATERNA,"\n€ 4.600,-\n",Coupe,3
3,Mercedes-Benz CLK 200,K,\n03/2004\n,\n291.200 km\n,\n120 kW (163 CV)\n,\nGasolina\n,\nManual\n,"\n12,2 l/100 km (mixto)\nPuede obtenerse infor...",\n- (g/km)\n,\n- (Propietarios)\n,46980 PATERNA,"\n€ 4.700,-\n",Coupe,3
4,Audi Coupe,2.0 20V 157 CV,\n11/1989\n,\n146.000 km\n,\n110 kW (150 CV)\n,\nGasolina\n,\nManual\n,"\n6,7 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,46930 QUART DE POBLET,"\n€ 5.490,-\n",Coupe,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Audi A7,Sportback 3.0TDI quattro S-Tronic 204,\n05/2011\n,\n130.000 km\n,\n150 kW (204 CV)\n,\nDiésel\n,\nAutomático\n,"\n5,8 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,29601 MARBELLA,"\n€ 20.990,-\n",Coupe,3
396,BMW 420,dA Coupé,\n10/2015\n,\n73.000 km\n,\n140 kW (190 CV)\n,\nDiésel\n,\nAutomático\n,\n4 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,28970 HUMANES DE MADRID,"\n€ 20.990,-\n",Coupe,3
397,Dodge Challenger,Coupé Aut.,\n06/2013\n,\n130.000 km\n,\n- kW (- CV)\n,\nGasolina\n,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,28970 FUENLABRADA,"\n€ 21.000,-\n",Coupe,3
398,BMW 218,da,\n05/2017\n,\n116.323 km\n,\n110 kW (150 CV)\n,\nDiésel\n,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,28914 Leganés,"\n€ 21.490,-\n",Coupe,3
399,Porsche 928,4.7 S,\n05/1984\n,\n157.000 km\n,\n220 kW (299 CV)\n,\nGasolina\n,\nManual\n,\n0 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,8520 LES FRANQUESES DEL VALLES,"\n€ 21.500,-\n",Coupe,3

In [25]:
#Defining columns for cabrio cars
title = []
version = []
year = []
kms = []
hp = []
gear = []
fuel = []
fuel_cons = []
co2 =[]
prev_owners = []
price = []
location = []

In [26]:
#Scapping cabrio cars

for cabrio_cars_page in all_pages:
    
    cabrio_cars_page = requests.get("https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=" + str(cabrio_cars_page) + "&cy=E&body=2&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&")
    cabrio_cars_soup = BeautifulSoup(cabrio_cars_page.text,"lxml")
    cabrio_cars_ads = cabrio_cars_soup.find_all('div', attrs={"class": "cl-list-element cl-list-element-gap"})
    
    sleep(randint(2,10))
    
    for element in cabrio_cars_ads:
        try:
            Title = element.find('h2', attrs={"class":'cldt-summary-makemodel sc-font-bold sc-ellipsis'}).text
        except:
            Title = "NaN"
        title.append(Title)
        
        try:
            Version = element.find('h2', attrs={"class":"cldt-summary-version sc-ellipsis"}).text
        except:
            Version = "NaN"
        version.append(Version)
        try:
            Year = element.find('li', attrs={'data-type':'first-registration'}).text
        except:
            Year = "NaN"
        year.append(Year)
        try:
            Kms = element.find('li', attrs={"data-type" : "mileage"}).text
        except:
            Kms = "NaN"
        kms.append(Kms)

        try:
            Gear = element.find('li', attrs={"data-type":"transmission-type"}).text
        except:
            Gear = "NaN"
        gear.append(Gear)

        try:
            Fuel = element.find('li', attrs={"class":"summary_item_no_bottom_line"}).text
        except:
            Fuel = "NaN"
        fuel.append(Fuel)

        try:
            Fuel_cons = element.find('li', attrs={"data-type":"combined-consumption"}).text
        except:
            Fuel_cons = "NaN"
        fuel_cons.append(Fuel_cons)

        try:
            Co2 = element.find('li', attrs={"data-type":"co2-emission"}).text
        except:
            Co2 = "NaN"
        co2.append(Co2)

        try:
            Prev_owners = element.find('li', attrs={"data-type" : "previous-owners"}).text
        except:
            Prev_owners = "NaN"
        prev_owners.append(Prev_owners)
        try:
            Price = element.find('span', attrs={"class":"cldt-price sc-font-xl sc-font-bold"}).text
        except:
            Price = "NaN"
        price.append(Price)

        try:
            Hp = element.find('li', text =re.compile(r'CV')).text
        except:
            Hp = "NaN"
        hp.append(Hp)
        
        try:
            Location = element.find('span', attrs={"class":"cldf-summary-seller-contact-zip-city"}).text
        except:
            Location = "NaN"
        location.append(Location)

In [27]:
#Creating the Cabrio_Cars_DataFrame
cabrio_cars_df = pd.DataFrame({"Title":title,
                        "Version":version,
                        "Year": year,
                        "Kms": kms,
                        "Hp": hp,
                        "Fuel_type": fuel,
                        "Gear_type": gear,
                        "Fuel_l/100km": fuel_cons,
                        "CO2_g/Km": co2,
                        "Previous_owners": prev_owners,
                        "City_ZIP" : location,
                        "Price_EUR": price,
                        "Category" : "Convertible",
                        "Doors" : "3"})

In [28]:
cabrio_cars_df

,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors
0,Mitsubishi Colt,CZC 1.5 16v Instyle,\n06/2006\n,\n83.000 km\n,\n80 kW (109 CV)\n,\nGasolina\n,\nManual\n,"\n6,6 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,46930 QUART DE POBLET,"\n€ 2.200,-\n",Convertible,3
1,Peugeot 206,CC 1.6 110,\n09/2005\n,\n197.700 km\n,\n81 kW (110 CV)\n,\nDiésel\n,\nManual\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,30161 Llano de Brujas,"\n€ 2.700,-\n",Convertible,3
2,Opel Astra,Twin Top 1.6 Enjoy,\n10/2007\n,\n110.000 km\n,\n77 kW (105 CV)\n,\nGasolina\n,\nManual\n,\n7 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,23700 LINARES,"\n€ 3.999,-\n",Convertible,3
3,Renault Megane,C.C. 1.9DCI Luxe Dynamique 130,\n07/2005\n,\n200.000 km\n,\n96 kW (131 CV)\n,\nDiésel\n,\nManual\n,"\n5,8 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,24009 LEON,"\n€ 5.000,-\n",Convertible,3
4,Volkswagen Beetle,Cabrio 1.9TDI,\n04/2004\n,\n177.300 km\n,\n73 kW (99 CV)\n,\nDiésel\n,\nManual\n,"\n5,5 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,48960 GALDAKAO,"\n€ 5.490,-\n",Convertible,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Saab 900,"2.3 I Cabrio 150cv 2p #LIBRO, CUERO",\n08/1995\n,\n162.770 km\n,\n110 kW (150 CV)\n,\nGasolina\n,\nManual\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,28430 ALPEDRETE,"\n€ 5.450,-\n",Convertible,3
396,Renault Megane,C.C. 1.9DCI Confort Dynamique 130,\n02/2006\n,\n178.619 km\n,\n96 kW (131 CV)\n,\nDiésel\n,\nManual\n,"\n5,8 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,25002 LLEIDA,"\n€ 5.450,-\nIVA deducible\n",Convertible,3
397,Mercedes-Benz SLK 200,Kompressor,\n01/2000\n,\n134.500 km\n,\n141 kW (192 CV)\n,\nGasolina\n,\nManual\n,"\n9,2 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,29750 Algarrobo-Costa,"\n€ 5.490,-\n",Convertible,3
398,MG TF,135 1.8 16V cat,\n06/2004\n,\n115.000 km\n,\n100 kW (136 CV)\n,\nGasolina\n,\nManual\n,"\n7,1 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,29670 San Pedro de Alcantara,"\n€ 5.490,-\n",Convertible,3
399,BMW 320,Ci Aut. Cabrio,\n01/2003\n,\n159.121 km\n,\n125 kW (170 CV)\n,\nGasolina\n,\nAutomático\n,"\n9,4 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,45200 ILLESCAS,"\n€ 5.499,-\n",Convertible,3

In [29]:
#Defining columns for suv cars
title = []
version = []
year = []
kms = []
hp = []
gear = []
fuel = []
fuel_cons = []
co2 =[]
prev_owners = []
price = []
location = []

In [30]:
#Scapping suv cars

for suv_cars_page in all_pages:
    
    suv_cars_page = requests.get("https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=" + str(suv_cars_page) + "&cy=E&body=4&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&")
    suv_cars_soup = BeautifulSoup(suv_cars_page.text,"lxml")
    suv_cars_ads = suv_cars_soup.find_all('div', attrs={"class": "cl-list-element cl-list-element-gap"})
    
    sleep(randint(2,10))
    
    for element in suv_cars_ads:
        try:
            Title = element.find('h2', attrs={"class":'cldt-summary-makemodel sc-font-bold sc-ellipsis'}).text
        except:
            Title = "NaN"
        title.append(Title)
        
        try:
            Version = element.find('h2', attrs={"class":"cldt-summary-version sc-ellipsis"}).text
        except:
            Version = "NaN"
        version.append(Version)
        try:
            Year = element.find('li', attrs={'data-type':'first-registration'}).text
        except:
            Year = "NaN"
        year.append(Year)
        try:
            Kms = element.find('li', attrs={"data-type" : "mileage"}).text
        except:
            Kms = "NaN"
        kms.append(Kms)

        try:
            Gear = element.find('li', attrs={"data-type":"transmission-type"}).text
        except:
            Gear = "NaN"
        gear.append(Gear)

        try:
            Fuel = element.find('li', attrs={"class":"summary_item_no_bottom_line"}).text
        except:
            Fuel = "NaN"
        fuel.append(Fuel)

        try:
            Fuel_cons = element.find('li', attrs={"data-type":"combined-consumption"}).text
        except:
            Fuel_cons = "NaN"
        fuel_cons.append(Fuel_cons)

        try:
            Co2 = element.find('li', attrs={"data-type":"co2-emission"}).text
        except:
            Co2 = "NaN"
        co2.append(Co2)

        try:
            Prev_owners = element.find('li', attrs={"data-type" : "previous-owners"}).text
        except:
            Prev_owners = "NaN"
        prev_owners.append(Prev_owners)
        try:
            Price = element.find('span', attrs={"class":"cldt-price sc-font-xl sc-font-bold"}).text
        except:
            Price = "NaN"
        price.append(Price)

        try:
            Hp = element.find('li', text =re.compile(r'CV')).text
        except:
            Hp = "NaN"
        hp.append(Hp)
        
        try:
            Location = element.find('span', attrs={"class":"cldf-summary-seller-contact-zip-city"}).text
        except:
            Location = "NaN"
        location.append(Location)

In [31]:
#Creating the Suv_Cars_DataFrame
suv_cars_df = pd.DataFrame({"Title":title,
                        "Version":version,
                        "Year": year,
                        "Kms": kms,
                        "Hp": hp,
                        "Fuel_type": fuel,
                        "Gear_type": gear,
                        "Fuel_l/100km": fuel_cons,
                        "CO2_g/Km": co2,
                        "Previous_owners": prev_owners,
                        "City_ZIP" : location,
                        "Price_EUR": price,
                        "Category" : "Suv",
                        "Doors" : "5"})

In [32]:
suv_cars_df

,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors
0,Audi Allroad,2.7T quattro Tiptronic,\n07/2001\n,\n277.000 km\n,\n184 kW (250 CV)\n,\nGasolina\n,\nAutomático\n,\n12 l/100 km (mixto)\nPuede obtenerse informa...,\n- (g/km)\n,\n- (Propietarios)\n,04230 VIATOR,"\n€ 2.650,-\n",Suv,5
1,Nissan X-Trail,2.5 Elegance,\n03/2004\n,\n108.900 km\n,\n121 kW (165 CV)\n,\nGasolina\n,\nManual\n,"\n9,6 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,18195 CULLAR VEGA,"\n€ 3.450,-\nIVA deducible\n",Suv,5
2,SsangYong REXTON,270 Full GRAN OCASION NACIONAL,\n12/2004\n,\n299.000 km\n,\n121 kW (165 CV)\n,\nDiésel\n,\nAutomático\n,"\n8,6 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,23700 LINARES,"\n€ 3.499,-\n",Suv,5
3,Audi Allroad,2.5 TDI quattro Tiptronic,\n12/2003\n,\n389.000 km\n,\n132 kW (179 CV)\n,\nDiésel\n,\nAutomático\n,"\n9,6 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28891 VELILLA DE SAN ANTONIO,"\n€ 3.900,-\n",Suv,5
4,Kia Sorento,2.5CRDI EX2 TOD,\n10/2005\n,\n240.000 km\n,\n103 kW (140 CV)\n,\nDiésel\n,\nManual\n,"\n8,5 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,46910 BENETUSER,"\n€ 3.998,-\n",Suv,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Lexus NX 300,300h Corporate 2WD + Navibox,\n01/2017\n,\n162.000 km\n,\n145 kW (197 CV)\n,\nElectro/Gasolina\n,\nAutomático\n,"\n5,4 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,46980 PATERNA,"\n€ 20.900,-\n",Suv,5
396,Land Rover Range Rover,4.2 V8 Supercharged Aut.,\n07/2008\n,\n68.000 km\n,\n287 kW (390 CV)\n,\nGasolina\n,\nAutomático\n,"\n15,9 l/100 km (mixto)\nPuede obtenerse infor...",\n- (g/km)\n,\n- (Propietarios)\n,26302 Marbella,"\n€ 20.900,-\n",Suv,5
397,Nissan Juke,1.0 DIG-T N-Connecta 4x2 DCT 7 117,\n11/2020\n,\n8.250 km\n,\n86 kW (117 CV)\n,\nGasolina\n,\nAutomático\n,"\n4,8 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,33010 OVIEDO,"\n€ 20.900,-\n",Suv,5
398,Land Rover Range Rover,3.6 TdV8 Autobiography Aut.,\n03/2010\n,\n179.197 km\n,\n200 kW (272 CV)\n,\nDiésel\n,\nAutomático\n,"\n11,1 l/100 km (mixto)\nPuede obtenerse infor...",\n- (g/km)\n,\n- (Propietarios)\n,18320 SANTA FE,"\n€ 20.900,-\n",Suv,5
399,Toyota RAV 4,2.5 hybrid AWD Advance,\n10/2017\n,\n57.389 km\n,\n145 kW (197 CV)\n,\nElectro/Gasolina\n,\nAutomático\n,\n5 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,28045 MADRID,"\n€ 20.950,-\n",Suv,5

In [33]:
#Defining columns for Van cars
title = []
version = []
year = []
kms = []
hp = []
gear = []
fuel = []
fuel_cons = []
co2 =[]
prev_owners = []
price = []
location = []

In [34]:
#Scapping Van cars

for van_cars_page in all_pages:
    
    van_cars_page = requests.get("https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=" + str(van_cars_page) + "&cy=E&body=13&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&")
    van_cars_soup = BeautifulSoup(van_cars_page.text,"lxml")
    van_cars_ads = van_cars_soup.find_all('div', attrs={"class": "cl-list-element cl-list-element-gap"})
    
    sleep(randint(2,10))
    
    for element in van_cars_ads:
        try:
            Title = element.find('h2', attrs={"class":'cldt-summary-makemodel sc-font-bold sc-ellipsis'}).text
        except:
            Title = "NaN"
        title.append(Title)
        
        try:
            Version = element.find('h2', attrs={"class":"cldt-summary-version sc-ellipsis"}).text
        except:
            Version = "NaN"
        version.append(Version)
        try:
            Year = element.find('li', attrs={'data-type':'first-registration'}).text
        except:
            Year = "NaN"
        year.append(Year)
        try:
            Kms = element.find('li', attrs={"data-type" : "mileage"}).text
        except:
            Kms = "NaN"
        kms.append(Kms)

        try:
            Gear = element.find('li', attrs={"data-type":"transmission-type"}).text
        except:
            Gear = "NaN"
        gear.append(Gear)

        try:
            Fuel = element.find('li', attrs={"class":"summary_item_no_bottom_line"}).text
        except:
            Fuel = "NaN"
        fuel.append(Fuel)

        try:
            Fuel_cons = element.find('li', attrs={"data-type":"combined-consumption"}).text
        except:
            Fuel_cons = "NaN"
        fuel_cons.append(Fuel_cons)

        try:
            Co2 = element.find('li', attrs={"data-type":"co2-emission"}).text
        except:
            Co2 = "NaN"
        co2.append(Co2)

        try:
            Prev_owners = element.find('li', attrs={"data-type" : "previous-owners"}).text
        except:
            Prev_owners = "NaN"
        prev_owners.append(Prev_owners)
        try:
            Price = element.find('span', attrs={"class":"cldt-price sc-font-xl sc-font-bold"}).text
        except:
            Price = "NaN"
        price.append(Price)

        try:
            Hp = element.find('li', text =re.compile(r'CV')).text
        except:
            Hp = "NaN"
        hp.append(Hp)
        
        try:
            Location = element.find('span', attrs={"class":"cldf-summary-seller-contact-zip-city"}).text
        except:
            Location = "NaN"
        location.append(Location)

In [35]:
#Creating the Van_Cars_DataFrame
van_cars_df = pd.DataFrame({"Title":title,
                        "Version":version,
                        "Year": year,
                        "Kms": kms,
                        "Hp": hp,
                        "Fuel_type": fuel,
                        "Gear_type": gear,
                        "Fuel_l/100km": fuel_cons,
                        "CO2_g/Km": co2,
                        "Previous_owners": prev_owners,
                        "City_ZIP" : location,
                        "Price_EUR": price,
                        "Category" : "Van",
                        "Doors" : "3"})

In [36]:
van_cars_df

,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors
0,Citroen,BERLINGO 2.0 HDI LEADER,NaN,NaN,\n66 kW (90 CV)\n,\nDiésel\n,\nManual\n,NaN,\n- (g/km)\n,NaN,02006 ALBACETE,"\n€ 1.990,-\n",Van,3
1,Fiat,Fiorino 1.3MJET FURGON,NaN,NaN,\n55 kW (75 CV)\n,\nDiésel\n,\nManual\n,NaN,\n- (g/km)\n,NaN,08921 BADALONA,"\n€ 2.980,-\n",Van,3
2,Renault,Kangoo 1.9DCI Authentique 4x4,NaN,NaN,\n62 kW (84 CV)\n,\nDiésel\n,\nManual\n,NaN,\n- (g/km)\n,NaN,23400 UBEDA,"\n€ 3.000,-\n",Van,3
3,Renault,Kangoo 1.9D Gran Volumen 65,NaN,NaN,\n47 kW (64 CV)\n,\nDiésel\n,\nManual\n,NaN,\n- (g/km)\n,NaN,48270 MARKINA,"\n€ 3.100,-\n",Van,3
4,Fiat,Dobló Combi 1.3Mjt Actual,NaN,NaN,\n55 kW (75 CV)\n,\nDiésel\n,\nManual\n,NaN,\n- (g/km)\n,NaN,28359 TITULCIA,"\n€ 3.500,-\n",Van,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Peugeot,Partner Tepee 1.6HDI Confort 75,NaN,NaN,\n55 kW (75 CV)\n,\nDiésel\n,\nManual\n,NaN,\n- (g/km)\n,NaN,46930 Quart de Poblet,"\n€ 3.900,-\n",Van,3
396,Peugeot,Partner Tepee 1.6HDI Confort 75,NaN,NaN,\n55 kW (75 CV)\n,\nDiésel\n,\nManual\n,NaN,\n- (g/km)\n,NaN,50011 ZARAGOZA,"\n€ 3.900,-\n",Van,3
397,Peugeot,Partner Tepee 1.6HDI Confort 75,NaN,NaN,\n55 kW (75 CV)\n,\nDiésel\n,\nManual\n,NaN,\n- (g/km)\n,NaN,31600 Burlada,"\n€ 3.900,-\n",Van,3
398,Peugeot,Partner Tepee 1.6HDI Confort 75,NaN,NaN,\n55 kW (75 CV)\n,\nDiésel\n,\nManual\n,NaN,\n- (g/km)\n,NaN,03006 ALICANTE,"\n€ 3.900,-\n",Van,3
399,Peugeot,Partner Tepee 1.6HDI Confort 75,NaN,NaN,\n55 kW (75 CV)\n,\nDiésel\n,\nManual\n,NaN,\n- (g/km)\n,NaN,8241 Manresa,"\n€ 3.900,-\n",Van,3

In [37]:
#Defining columns for Other cars
title = []
version = []
year = []
kms = []
hp = []
gear = []
fuel = []
fuel_cons = []
co2 =[]
prev_owners = []
price = []
location = []

In [38]:
#Scapping Other cars

for other_cars_page in all_pages:
    
    other_cars_page = requests.get("https://www.autoscout24.es/lst/?sort=standard&desc=0&offer=D%2CJ%2CO%2CU&ustate=N%2CU&size=20&page=" + str(other_cars_page) + "&cy=E&body=7&atype=C&recommended_sorting_based_id=add4f573-8a91-417b-8217-546c0129def6&")
    other_cars_soup = BeautifulSoup(other_cars_page.text,"lxml")
    other_cars_ads = other_cars_soup.find_all('div', attrs={"class": "cl-list-element cl-list-element-gap"})
    
    sleep(randint(2,10))
    
    for element in other_cars_ads:
        try:
            Title = element.find('h2', attrs={"class":'cldt-summary-makemodel sc-font-bold sc-ellipsis'}).text
        except:
            Title = "NaN"
        title.append(Title)
        
        try:
            Version = element.find('h2', attrs={"class":"cldt-summary-version sc-ellipsis"}).text
        except:
            Version = "NaN"
        version.append(Version)
        try:
            Year = element.find('li', attrs={'data-type':'first-registration'}).text
        except:
            Year = "NaN"
        year.append(Year)
        try:
            Kms = element.find('li', attrs={"data-type" : "mileage"}).text
        except:
            Kms = "NaN"
        kms.append(Kms)

        try:
            Gear = element.find('li', attrs={"data-type":"transmission-type"}).text
        except:
            Gear = "NaN"
        gear.append(Gear)

        try:
            Fuel = element.find('li', attrs={"class":"summary_item_no_bottom_line"}).text
        except:
            Fuel = "NaN"
        fuel.append(Fuel)

        try:
            Fuel_cons = element.find('li', attrs={"data-type":"combined-consumption"}).text
        except:
            Fuel_cons = "NaN"
        fuel_cons.append(Fuel_cons)

        try:
            Co2 = element.find('li', attrs={"data-type":"co2-emission"}).text
        except:
            Co2 = "NaN"
        co2.append(Co2)

        try:
            Prev_owners = element.find('li', attrs={"data-type" : "previous-owners"}).text
        except:
            Prev_owners = "NaN"
        prev_owners.append(Prev_owners)
        try:
            Price = element.find('span', attrs={"class":"cldt-price sc-font-xl sc-font-bold"}).text
        except:
            Price = "NaN"
        price.append(Price)

        try:
            Hp = element.find('li', text =re.compile(r'CV')).text
        except:
            Hp = "NaN"
        hp.append(Hp)
        
        try:
            Location = element.find('span', attrs={"class":"cldf-summary-seller-contact-zip-city"}).text
        except:
            Location = "NaN"
        location.append(Location)

In [39]:
#Creating the Other_Cars_DataFrame
other_cars_df = pd.DataFrame({"Title":title,
                        "Version":version,
                        "Year": year,
                        "Kms": kms,
                        "Hp": hp,
                        "Fuel_type": fuel,
                        "Gear_type": gear,
                        "Fuel_l/100km": fuel_cons,
                        "CO2_g/Km": co2,
                        "Previous_owners": prev_owners,
                        "City_ZIP" : location,
                        "Price_EUR": price,
                        "Category" : "Other",
                        "Doors" : "NaN"})

In [40]:
#Mergin all DataFrames 
all_cars_df = pd.concat([small_cars_df,
                         sedan_cars_df,
                         familiar_cars_df,
                         minivan_cars_df,
                         coupe_cars_df,
                         cabrio_cars_df,
                         suv_cars_df,
                         van_cars_df,
                         other_cars_df], axis = 0)
#Reset_index
all_cars_df = all_cars_df.reset_index()

In [41]:
all_cars_df.drop(["index"],axis = 1)

,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors
0,SEAT Cordoba,1.9 TDi Sport 90,\n12/2000\n,\n254.000 km\n,\n66 kW (90 CV)\n,\nDiésel\n,\nManual\n,"\n4,9 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,18195 CULLAR VEGA,"\n€ 980,-\nIVA deducible\n",Small,5
1,Rover 25,1.6 Classic,\n01/2001\n,\n171.720 km\n,\n80 kW (109 CV)\n,\nGasolina\n,\nManual\n,\n6 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,28045 MADRID,"\n€ 1.290,-\n",Small,5
2,Renault Megane,1.6 Century,\n08/2001\n,\n190.000 km\n,\n82 kW (111 CV)\n,\nGasolina\n,\nManual\n,\n7 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,28891 VELILLA DE SAN ANTONIO,"\n€ 1.500,-\n",Small,5
3,Daewoo Lanos,1.6 16v. SX,\n06/2000\n,\n185.000 km\n,\n78 kW (106 CV)\n,\nGasolina\n,\nManual\n,"\n8,2 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,46940 MANISES,"\n€ 1.500,-\n",Small,5
4,Volkswagen Polo,1.4 3 porte Comfortline,\n02/2000\n,\n123.900 km\n,\n44 kW (60 CV)\n,\nGasolina\n,\nManual\n,"\n6,1 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,29750 Algarrobo-Costa,"\n€ 1.990,-\n",Small,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3595,Citroen Méhari,NaN,\n07/1978\n,\n30.000 km\n,\n28 kW (38 CV)\n,\nElectro/Gasolina\n,\n- (Cambio)\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,NaN,"\n€ 17.500,-\n",Other,NaN
3596,Citroen Méhari,NaN,\n04/1978\n,\n6.000 km\n,\n34 kW (46 CV)\n,\nGasolina\n,\n- (Cambio)\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,NaN,"\n€ 17.500,-\n",Other,NaN
3597,Triumph Spitfire,NaN,\n06/1979\n,\n8.100 km\n,\n- kW (- CV)\n,\nGasolina\n,\nManual\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,3440 Ibi,"\n€ 17.500,-\n",Other,NaN
3598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN
3599,Ford Puma,ST-LINE 1.0 EcoBoost MHEV 92KW (125CV) Euro 6.2,\n11/2020\n,\n12.991 km\n,\n92 kW (125 CV)\n,\nOtros\n,\nManual\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,48940 LEIOA,"\n€ 17.900,-\n",Other,NaN

In [42]:
all_cars_df.to_csv('/users/alfon/Desktop/Master/TFM/Csv/cars_raw.csv', header=True, index=False)