# 02. Data Cleaning

## 1) Formatting the data and grouping values

In [1]:
import csv
import pandas as pd
import numpy as np
import os

In [2]:
cars_raw = ("/users/alfon/Desktop/Master/TFM/CSV/cars_raw.csv")

In [3]:
df = pd.read_csv(cars_raw)
df.head()

,index,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors
0,0,SEAT Cordoba,1.9 TDi Sport 90,\n12/2000\n,\n254.000 km\n,\n66 kW (90 CV)\n,\nDiésel\n,\nManual\n,"\n4,9 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,18195 CULLAR VEGA,"\n€ 980,-\nIVA deducible\n",Small,5.0
1,1,Rover 25,1.6 Classic,\n01/2001\n,\n171.720 km\n,\n80 kW (109 CV)\n,\nGasolina\n,\nManual\n,\n6 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,28045 MADRID,"\n€ 1.290,-\n",Small,5.0
2,2,Renault Megane,1.6 Century,\n08/2001\n,\n190.000 km\n,\n82 kW (111 CV)\n,\nGasolina\n,\nManual\n,\n7 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,28891 VELILLA DE SAN ANTONIO,"\n€ 1.500,-\n",Small,5.0
3,3,Daewoo Lanos,1.6 16v. SX,\n06/2000\n,\n185.000 km\n,\n78 kW (106 CV)\n,\nGasolina\n,\nManual\n,"\n8,2 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,46940 MANISES,"\n€ 1.500,-\n",Small,5.0
4,4,Volkswagen Polo,1.4 3 porte Comfortline,\n02/2000\n,\n123.900 km\n,\n44 kW (60 CV)\n,\nGasolina\n,\nManual\n,"\n6,1 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,29750 Algarrobo-Costa,"\n€ 1.990,-\n",Small,5.0

In [ ]:
#Columns overview

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3600 entries, 0 to 3599
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            3600 non-null   int64
 1   Title            3589 non-null   object
 2   Version          3338 non-null   object
 3   Year             3302 non-null   object
 4   Kms              3302 non-null   object
 5   Hp               3589 non-null   object
 6   Fuel_type        3589 non-null   object
 7   Gear_type        3589 non-null   object
 8   Fuel_l/100km     3302 non-null   object
 9   CO2_g/Km         3589 non-null   object
 10  Previous_owners  3302 non-null   object
 11  City_ZIP         3051 non-null   object
 12  Price_EUR        3589 non-null   object
 13  Category         3600 non-null   object
 14  Doors            3200 non-null   float64
dtypes: float64(1), int64(1), object(13)
memory usage: 422.0+ KB

In [5]:
#Year -> only YYYY
df["Year"] = df["Year"].apply(str).str.strip()\
            .apply(str)\
            .str[3:]

In [6]:
df.Year.value_counts()

2017    464
2018    368
2019    360
        298
2016    225
       ...
1955      1
1941      1
1921      1
1943      1
1952      1
Name: Year, Length: 73, dtype: int64

In [7]:
#Kms -> removing \n

df["Kms"] = df["Kms"].apply(str).str.strip()\
            .apply(str).str.strip("km")\
            .apply(str).str.replace(".","")\
            .apply(str)

In [8]:
#Hp

df["Hp"] = df["Hp"].apply(str).str.strip()\
            .apply(str).str.split(pat = "(").str[1]\
            .apply(str).str[:-3]

df.Hp.value_counts()

150     335
116     174
136     143
120     136
131     129
       ...
333       1
351       1
507       1
317       1
315       1
Name: Hp, Length: 257, dtype: int64

In [9]:
#Fuel_type

df["Fuel_type"] = df["Fuel_type"].apply(str).str.strip()

df.Fuel_type.value_counts()

Diésel               1958
Gasolina             1392
Electro/Gasolina      109
Eléctrico              67
Otros                  38
Gas natural (CNG)      18
nan                    11
Electro/Diésel          3
- (Combustible)         3
Gas licuado (GLP)       1
Name: Fuel_type, dtype: int64

In [10]:
df[df.Fuel_type == "- (Combustible)" ]

,index,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors
91,91,Microcar Due,Microcar DUE,2019,9000,11,- (Combustible),\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,46910 BENETUSER,"\n€ 7.998,-\n",Small,5.0
123,123,Ligier JS 50,Ligier JS 50,2018,29840,11,- (Combustible),\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,46910 BENETUSER,"\n€ 8.998,-\nIVA deducible\n",Small,5.0
143,143,Ligier JS 50,Ligier JS 50,2019,32450,8,- (Combustible),\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,46910 BENETUSER,"\n€ 9.998,-\nIVA deducible\n",Small,5.0

The cars above are cars with an engine with no more than 50cc and do not requiere the standard driving licence . All these cars use Diesel propulsion systems .

<<img>>

In [11]:
df["Fuel_type"] = df["Fuel_type"].str.replace("- \(Combustible\)","Diésel")

In [12]:
df[df.Fuel_type == "Otros" ]

,index,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors
27,27,Renault R 4,1.1,1990,91000,39,Otros,\nManual\n,\n0 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,03580 ALFAZ DEL PI,"\n€ 3.990,-\n",Small,5.0
332,332,Lexus IS 250,IS 2.5 300H NAVIBOX EXECUTIVE,2016,114778,223,Otros,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,50013 ZARAGOZA,"\n€ 18.995,-\nIVA deducible\n",Small,5.0
508,108,Toyota Prius,Eco,2016,129036,136,Otros,\nAutomático\n,\n3 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,47013 VALLADOLID,"\n€ 11.495,-\n",Sedan,5.0
509,109,Toyota Prius,Eco,2016,129036,136,Otros,\nAutomático\n,\n3 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,13005 CIUDAD REAL,"\n€ 11.495,-\n",Sedan,5.0
510,110,Toyota Prius,Eco,2016,129036,136,Otros,\nAutomático\n,\n3 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,41007 SEVILLA,"\n€ 11.495,-\n",Sedan,5.0
511,111,Toyota Prius,Eco,2016,129036,136,Otros,\nAutomático\n,\n3 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,11407 Jerez de la Frontera,"\n€ 11.495,-\n",Sedan,5.0
512,112,Toyota Prius,Eco,2016,129036,136,Otros,\nAutomático\n,\n3 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,04230 HUERCAL DE ALMERIA,"\n€ 11.495,-\n",Sedan,5.0
513,113,Toyota Prius,Eco,2016,129036,136,Otros,\nAutomático\n,\n3 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,23009 JAEN,"\n€ 11.495,-\n",Sedan,5.0
514,114,Toyota Prius,Eco,2016,129036,136,Otros,\nAutomático\n,\n3 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,29004 MALAGA,"\n€ 11.495,-\n",Sedan,5.0
515,115,Toyota Prius,Eco,2016,129036,136,Otros,\nAutomático\n,\n3 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,21007 HUELVA,"\n€ 11.495,-\n",Sedan,5.0
540,140,Kia Niro,DRIVE,2017,148000,141,Otros,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,36860 PONTEAEREAS,"\n€ 12.990,-\n",Sedan,5.0
566,166,Ford Mondeo,2.0 Híbrido 137kW (187CV) Titanium HEV,2018,139959,186,Otros,\nAutomático\n,"\n4,8 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28021 MADRID,"\n€ 14.190,-\n",Sedan,5.0
628,228,BMW i3,REX (Range EXtender),2016,53000,170,Otros,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,28500 ARGANDA DEL REY,"\n€ 17.990,-\n",Sedan,5.0
629,229,BMW i3,REX (Range EXtender),2016,53000,170,Otros,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,09001 BURGOS,"\n€ 17.990,-\n",Sedan,5.0
640,240,Toyota C-HR,1.8 VVT-I HYBRID ADVANCE AUTO 122 5P,2017,87000,122,Otros,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,30007 MURCIA,"\n€ 18.900,-\n",Sedan,5.0
650,250,Toyota C-HR,1.8 125H Advance P.Plus P. Luxury,2018,101258,122,Otros,\nAutomático\n,\n3 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,10195 CACERES,"\n€ 19.495,-\n",Sedan,5.0
651,251,Toyota C-HR,1.8 125H Advance P.Plus P. Luxury,2018,101258,122,Otros,\nAutomático\n,\n3 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,11407 Jerez de la Frontera,"\n€ 19.495,-\n",Sedan,5.0
659,259,Toyota Corolla,1.8 125cv E-CVT Active Tech,2021,17375,122,Otros,\nAutomático\n,"\n3,3 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28770 COLMENAR VIEJO,"\n€ 19.990,-\n",Sedan,5.0
664,264,Toyota Corolla,1.8 125H FEEL! E-CVT,2020,16474,122,Otros,\nAutomático\n,\n4 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,10195 CACERES,"\n€ 20.495,-\n",Sedan,5.0
665,265,Toyota Corolla,1.8 125H FEEL! E-CVT,2020,20502,122,Otros,\nAutomático\n,\n4 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,49192 ZAMORA,"\n€ 20.495,-\n",Sedan,5.0
666,266,Toyota Corolla,1.8 125H FEEL! E-CVT,2020,20502,122,Otros,\nAutomático\n,\n4 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,10195 CACERES,"\n€ 20.495,-\n",Sedan,5.0
667,267,Toyota Corolla,1.8 125H FEEL! E-CVT,2020,20502,122,Otros,\nAutomático\n,\n4 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,29004 MALAGA,"\n€ 20.495,-\n",Sedan,5.0
668,268,Toyota Corolla,1.8 125H FEEL! E-CVT,2020,20502,122,Otros,\nAutomático\n,\n4 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,41007 SEVILLA,"\n€ 20.495,-\n",Sedan,5.0
669,269,Toyota Corolla,1.8 125H FEEL! E-CVT,2020,20502,122,Otros,\nAutomático\n,\n4 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,11407 Jerez de la Frontera,"\n€ 20.495,-\n",Sedan,5.0
670,270,Toyota Corolla,1.8 125H FEEL! E-CVT,2020,20502,122,Otros,\nAutomático\n,\n4 l/100 km (mixto)\nPuede obtenerse informac...,\n- (g/km)\n,\n- (Propietarios)\n,21007 HUELVA,"\n€ 20.495,-\n",Sedan,5.0
677,277,Toyota C-HR,1.8 VVT-I HYBRID ADVANCE PLUS AUTO 122 5P,2018,50206,122,Otros,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,30007 MURCIA,"\n€ 20.900,-\n",Sedan,5.0
720,320,Lexus CT 200h,Business Navibox. 199€/mes.,2021,7000,136,Otros,\nAutomático\n,"\n4,2 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,28050 MADRID,"\n€ 23.795,-\n",Sedan,5.0
782,382,Ford Mondeo,Sedán 2.0 HEV Titanium,2019,7000,188,Otros,\nAutomático\n,"\n4,2 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,03293 ELCHE,"\n€ 26.900,-\n",Sedan,5.0
1034,234,Mercedes-Benz CLS 450,4MATIC HIBRIDO 367CV,2019,86000,367,Otros,\nAutomático\n,"\n7,3 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,20018 Donsotia,"\n€ 51.900,-\n",Wagon,5.0
1103,303,Toyota Auris,FAM. 1.8 VVT-I 100KW HYBRID FEEL! 136 5P,2017,65838,136,Otros,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,08226 TERRASSA,"\n€ 12.725,-\n",Wagon,5.0
1115,315,Toyota Auris,TS 1.8 Hybrid Active,2017,86000,106,Otros,\nAutomático\n,"\n4,1 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,20110 PASAIA,"\n€ 13.500,-\n",Wagon,5.0
1720,120,Audi A5,2.0 TFSI Sport,2018,38121,190,Otros,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,41001 SEVILLA,"\n€ 28.390,-\n",Coupe,3.0
2582,182,Kia Niro,1.6 HEV Drive,2017,49500,105,Otros,\nAutomático\n,"\n3,8 l/100 km (mixto)\nPuede obtenerse inform...",\n- (g/km)\n,\n- (Propietarios)\n,8470 SANT CELONI,"\n€ 15.900,-\n",Suv,5.0
2885,85,Ford Tourneo Custom,1.0 Ecoboost PHEV Titanium 125,2020,8300,125,Otros,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,48013 BILBAO,"\n€ 37.900,-\n",Van,3.0
3285,85,Land Rover Series,NaN,1970,50000,65,Otros,\n- (Cambio)\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,NaN,"\n€ 3.500,-\n",Other,NaN
3563,363,Kia Stonic,1.0 TGDI MHEV CONCEPT,2020,11000,101,Otros,\nManual\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,14014 CORDOBA,"\n€ 15.550,-\n",Other,NaN
3591,391,Kia Niro,1.6 GDI HIBRIDO,2018,44000,141,Otros,\nAutomático\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,14014 CORDOBA,"\n€ 17.300,-\n",Other,NaN
3599,399,Ford Puma,ST-LINE 1.0 EcoBoost MHEV 92KW (125CV) Euro 6.2,2020,12991,125,Otros,\nManual\n,\n- (l/100 km)\n,\n- (g/km)\n,\n- (Propietarios)\n,48940 LEIOA,"\n€ 17.900,-\n",Other,NaN

Basically, almost all the cars identified with the fuel type "Otros" belongs to the category Hybrid as detailed on the column named "Version". For the few left we will include them in Others.

In [13]:
df.Fuel_type[(df["Fuel_type"] == "Otros") & (df["Version"].str.contains("Hybrid|Híbrido|Hibrido|Hev|Rex|Eco|h|HYBRID|HEV|HÍBRIDO|HIBRIDO|REX|ECO|E-|H"))] = "Hybrid"

<ipython-input-13-065502e09fbc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Fuel_type[(df["Fuel_type"] == "Otros") & (df["Version"].str.contains("Hybrid|Híbrido|Hibrido|Hev|Rex|Eco|h|HYBRID|HEV|HÍBRIDO|HIBRIDO|REX|ECO|E-|H"))] = "Hybrid"

In [14]:
df["Fuel_type"] = df["Fuel_type"].str.replace("Electro/Gasolina", "Hybrid")\
                .str.replace("Electro/Diésel", "Hybrid") \
                .str.replace("Gasolina", "Petrol")\
                .str.replace("Diésel", "Diesel")\
                .str.replace("Eléctrico", "Electric")\
                .str.replace("Gas natural \(CNG\)", "Compressed Natural Gas \(CNG\)")\
                .str.replace("Gas licuado \(GLP\)", "Liquefied Petroleum Gas \(LPG\)")\
                .str.replace("Otros", "Others")

In [15]:

df.Fuel_type.value_counts()

Diesel                             1961
Petrol                             1392
Hybrid                              145
Electric                             67
Compressed Natural Gas \(CNG\)       18
nan                                  11
Others                                5
Liquefied Petroleum Gas \(LPG\)       1
Name: Fuel_type, dtype: int64

In [16]:
#Gear_type
df.Gear_type.value_counts()

\nManual\n            1998
\nAutomático\n        1356
\n- (Cambio)\n         227
\nSemiautomático\n       8
Name: Gear_type, dtype: int64

In [17]:
df["Gear_type"] = df["Gear_type"].apply(str).str.strip()\
                                 .str.replace("Semiautomático","Automatic")\
                                 .str.replace("Automático","Automatic")\
                                 .str.replace("- \(Cambio\)","nan")

In [18]:
df.Gear_type.value_counts()

Manual       1998
Automatic    1364
nan           238
Name: Gear_type, dtype: int64

In [30]:
#Fuel_cons
df["Fuel_l/100km"] = df["Fuel_l/100km"].apply(str).str.strip()\
                                       .apply(str).str.split(pat="/").str[0]\
                                       .apply(str).str.split().str[0]

In [31]:
#CO2
df["CO2_g/Km"] = df["CO2_g/Km"].apply(str).str.strip()\
                               .apply(str).str.split().str[0]

In [33]:
#Prev_owners
df["Previous_owners"] = df["Previous_owners"].apply(str).str.strip()\
                                             .apply(str).str.split(pat="(").str[1]\
                                             .apply(str).str.split(pat=")").str[0]\
                                             .apply(str).str.replace("Propietarios","")

In [34]:
#Price
df["Price_EUR"] = df["Price_EUR"].apply(str).str.strip()\
                                 .map(lambda x: x.lstrip('€').rstrip(',- \nIVA deducible'))\
                                 .apply(str).str.replace(".","")

## 2) Creating new columns needed

In [35]:
#Spliting the title into Brand and Model
df[["Brand","Model"]] = df["Title"].str.split(' ', 1, expand = True)

In [36]:
df.head()

,index,Title,Version,Year,Kms,Hp,Fuel_type,Gear_type,Fuel_l/100km,CO2_g/Km,Previous_owners,City_ZIP,Price_EUR,Category,Doors,Brand,Model
0,0,SEAT Cordoba,1.9 TDi Sport 90,2000,254000,90,Diesel,Manual,"4,9",-,nan,18195 CULLAR VEGA,980,Small,5.0,SEAT,Cordoba
1,1,Rover 25,1.6 Classic,2001,171720,109,Petrol,Manual,6,-,nan,28045 MADRID,1290,Small,5.0,Rover,25
2,2,Renault Megane,1.6 Century,2001,190000,111,Petrol,Manual,7,-,nan,28891 VELILLA DE SAN ANTONIO,1500,Small,5.0,Renault,Megane
3,3,Daewoo Lanos,1.6 16v. SX,2000,185000,106,Petrol,Manual,"8,2",-,nan,46940 MANISES,1500,Small,5.0,Daewoo,Lanos
4,4,Volkswagen Polo,1.4 3 porte Comfortline,2000,123900,60,Petrol,Manual,"6,1",-,nan,29750 Algarrobo-Costa,1990,Small,5.0,Volkswagen,Polo

In [ ]:
#*****Pending to define long brands and long models******

In [38]:
#Splitting City and ZIP Code

df[["ZIP","City"]] = df["City_ZIP"].str.split(' ',1, expand = True)

In [43]:
#*****Pending to define the CCAA ******

## 3) Dropping Invalid Results